@using Strem.Plugins.Analytics.Models.Filtering
@using Strem.Plugins.Analytics.Types

@inherits ChartComponent

<h3 class="title is-5 is-capitalized has-text-black">Top Chatters Chart</h3>
@{ var metricData = GenerateMetrics().ToArray(); }
@if (metricData.Length == 0)
{
    <p>No Data Available</p>
}
else
{
    <ApexChart TItem="KeyedMetric" Title="Top 10 Chatters" @ref="ChartInstance" Options="ChartOptions" Width="500" Height="300">
        
        <ApexPointSeries TItem="KeyedMetric" Items="metricData" Name="Chatters"
                         SeriesType="SeriesType.Bar" ShowDataLabels="true"
                         XValue="@(e => e.Key)"
                         YValue="@(e => e.Value)"
                         OrderByDescending="x => x.Y"/>
    
    </ApexChart>
}

@code {
    
    public ApexChart<KeyedMetric> ChartInstance { get; set; }
    public ApexChartOptions<KeyedMetric> ChartOptions { get; set; } = new();
    
    public IEnumerable<KeyedMetric> GenerateMetrics(int count = 10)
    {
        return Data
            .Where(x => x.EventType == AnalyticsEventTypes.ChatMessage)
            .GroupBy(x => x.UserContext)
            .Select(x => new KeyedMetric(x.First().UserContext, x.Count()))
            .OrderByDescending(x => x.Value)
            .Take(count);
    }

    public override async Task Refresh()
    { await ChartInstance.RenderAsync(); }
}