@using Strem.Plugins.Analytics.Models
@using Strem.Plugins.Analytics.Extensions
@using ApexCharts
@using Strem.Plugins.Analytics.Models.Filtering
@using Strem.Plugins.Analytics.Twitch.Types

@inherits Strem.Plugins.Analytics.Viewer.Components.ChartComponent

<h3 class="title is-5 is-capitalized has-text-black">Bits Chart</h3>
@if (Data.Count == 0)
{
    <p>No Data Available</p>
}
else
{
    <ApexChart TItem="TimedMetric" Title="Bits Chart" @ref="ChartInstance" Options="ChartOptions" Width="500" Height="300">
    
        <ApexPointSeries TItem="TimedMetric" Items="GetBitData()" Name="Bits Spent" 
              SeriesType="SeriesType.Bar" XValue="@(e => e.Date)" YValue="@(e => e.Value)" 
              OrderBy="x => x.X"/>
        
        <ApexPointSeries TItem="TimedMetric" Items="GetViewerData()" Name="Viewer Count" 
              SeriesType="SeriesType.Bar" XValue="@(e => e.Date)" YValue="@(e => e.Value)" 
              OrderBy="x => x.X"/>
    
    </ApexChart>
}

@code {
    
    public ApexChart<TimedMetric> ChartInstance { get; set; }
    public ApexChartOptions<TimedMetric> ChartOptions { get; set; } = new();

    protected override void OnInitialized()
    {
        ChartOptions.Xaxis = new XAxis()
        {
            Type = XAxisType.Datetime
        };

        ChartOptions.Yaxis = new List<YAxis>();
        ChartOptions.Yaxis.Add(new YAxis()
        {
            Title = new AxisTitle() { Text = "Bits Spent" },
            DecimalsInFloat = 0
        });
        
        ChartOptions.Yaxis.Add(new YAxis()
        {
            Title = new AxisTitle() { Text = "Viewer Count" },
            DecimalsInFloat = 0,
            Opposite = true
        });
        
        base.OnInitialized();
    }

    public IEnumerable<TimedMetric> GetBitData()
    {
        return Data.Where(x => x.EventType == TwitchAnalyticEventTypes.Bits)
            .GroupBy(x => x.EventDateTime.RoundToNearest(Filter.TimeUnitRounding))
            .Select(x => new TimedMetric(x.Key, x.Sum(y => y.EventValue)));
    }
    
    public IEnumerable<TimedMetric> GetViewerData()
    {
        return Data.Where(x => x.EventType == TwitchAnalyticEventTypes.ViewerCount)
            .GroupBy(x => x.EventDateTime.RoundToNearest(Filter.TimeUnitRounding))
            .Select(x => new TimedMetric(x.Key, x.Average(y => y.EventValue)));
    }
    
    public override async Task Refresh()
    { await ChartInstance.RenderAsync(); }
}